{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Contact{% endblock %}
zzzz
{% block content %}
    <div class="row">
        </br></br>
        <div class="col-xs-1 col-sm-6 col-md-3 col-sm-offset-4">
            <form action="" method="POST">{% csrf_token %}
                {{ form|crispy }}
                <p class="button">
                <button type="submit" class="confirm" id="confirm">Gửi</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}