{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="copyright" content="" />
{#    <link rel="icon" href="../../favicon.ico">#}
    <link rel="shortcut icon" href="{% static 'static_common/img/favicon.ico' %}">

    <title>{% block title_head %}{% endblock %} | Phan Thiet Food - Food Full & Fun</title>
    {% include 'base-css.html' %}
  {% endblock %}
  </head>
  <body>

    <div class="header">
        {% block header %}
            {% include "header.html" %}
{#            {% include 'navbar.html' %}#}
        {% endblock %}
    </div>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div> <!-- /container -->

    <div class="footer">
        {% include "base-javascript.html" %}
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>
  </body>
</html>
