{% load staticfiles %}

<div class="site_map">
  <div class="inner clearfix">
    <div id="page_top">
      <a href="#" id="home"><img src="{% static 'static_common/img/img-page_top.png' %}" width="40" height="40" alt="back to top" /></a>
    <!-- /#page_top --></div>
  <div class="menu_site clearfix">
      <div class="box_menu box_one clearfix">
        <h3>Các bước đơn giản để đặt món</h3>
        <ul>
          <li><span class="step01">Chọn địa điểm</span></li>
          <li><span class="step02">Chọn và đặt món yêu thích</span></li>
          <li><span class="step03">Nhận hàng và thanh toán</span></li>
        </ul>
      <!--/ .box_menu --></div>
      <div class="box_menu box_two">
        <h3>Dành cho đối tác</h3>
        <ul>
          <li><span class="phone">Hotline: 090-7875-093</span></li>
          <li><span class="email">Email: hr@phanthietfood.com</span></li>
          <li><span class="web">Website: phanthietfood.com</span></li>
        </ul>
      <!--/ .box_menu --></div>
      <div class="box_menu box_three">
        <img src="{% static 'static_common/img/logo-footer.png' %}" alt="phan thiet food" width="138" height="100" />
      <!--/ .box_menu --></div>
  <!--/ .menu_site --></div>
    <!--/ .inner --></div>  
  <div class="menu_line_bottom">
    <div class="inner clearfix">
      <ul>
        <li class="first_child"><a href="#">Trang Chủ</a></li>
        <li><a href="#">Ăn Uống</a></li>
        <li><a href="#">Du lịch</a></li>
        <li><a href="#">Giải trí</a></li>
        <li class="last_child"><a href="#">Hỗ trợ</a></li>
      </ul>
    <!--/ .inner --></div>
  <!--/ .menu_line_bottom --></div>
<!--/ .site_map --></div>
<div id="footer">
  <div class="menu_footer">
    <div class="copyright">
      <div class="inner">
         <small>Copyright(C)2015. Phan Thiet Food All rights reserved.</small>
      <!--/ .inner --></div>
    <!--/ .copyright --></div>
  <!--/ .menu_footer --></div>
<!--/ #footer --></div>